/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background: linear-gradient(
    180deg,
    #1c5380 0%,
    #1c5380 40%,
    aliceblue 40%,
    aliceblue 100%
  );
}

.container {
  background-color: transparent;
  margin: 6.5%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#phone-img {
  order: 1;
  flex: 1 1 50%;
  align-self: flex-start;
}

.inner-div {
  order: 2;
  flex: 1 1 50%;
  align-self: flex-start;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.inner-div .upper {
  order: 1;
  flex: 1 1 auto;
  align-self: center;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.inner-div .down {
  background-color: rgb(238, 238, 240);
  border-radius: 2.5%;
  color: #06365f;

  order: 2;
  flex: 1 1 auto;

  align-self: center;
  width: 50%;
}

h2 {
  color: #1c5380;
}

button {
  background: #1c5380;
  border-radius: 10%;
  font-size: larger;
  color: aliceblue;
}

footer {
  text-transform: uppercase;
  color: #1c5380;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  display: inline;
  text-align: center;
}
